<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarleyCross</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <main>
        <header>
            <div class="cabecalho"></div>
            <div class="cabecalho2"></div>
            <input class="search" type="search" placeholder="  search...">
            <a href="/login.pag/index.html"><button class="login">log in</button></a>
            <a href="/singup.pag/index.html"><button class="singup">sing up</button></a>
            <img src="/templates/BANNER.jpeg" class="banner">
            <img class="logo" src="/templates/logof.png" alt="logo">
        </header>

        <div class="banner">
            <div class="banner-overlay">
                <div class="banner-texto">
                    <h1>Liberdade <span class="destaque">Sobre Duas Rodas</span></h1>
                    <p>Descubra a potência e o estilo inconfundível das lendárias Harley-Davidson</p>
                    <a href="/catalogo/index.html"><button class="banner-btn">Explorar Modelos</button></a>
                </div>
            </div>
        </div>


        <div id="modelos">
            <button class="modelos">cruiser</button>
            <button class="modelos">Fat Boy 114</button>
            <button class="modelos">Road King</button>
            <button class="modelos">LiveWire</button>
            <button class="modelos"> Nightster</button>
        </div>
    </main>
</body>

</html>